<% layout('/layouts/boilerPlate.ejs') -%>
<div class="fpMain">
  <div class="top"><h1>FUTURE PROJECTS</h1></div>
  <div class="fp">
    <h2>Wanderlust - Airbnb Clone</h2>
    <hr />
    <p>
      Wanderlust is a full-stack web application that connects homeowners with
      travelers looking for short-term accommodations. Built using HTML, CSS,
      JavaScript, Node.js, Express.js, EJS, EJS-Mate, and MongoDB, it allows
      users to list, search, and book properties seamlessly. The platform
      includes features like user authentication, property listings with images,
      booking management, and interactive maps. Wanderlust aims to provide a
      user-friendly experience with responsive design and smooth navigation.
      This project showcases my expertise in backend development, database
      management, and dynamic UI rendering, making it a valuable addition to my
      portfolio.
    </p>
  </div>
  <div class="fp">
    <h2>Password Manager Web App</h2>
    <hr />
    <p>
      A secure password management solution with industrial-level security
      features, including a Master Password System (hashed & never stored),
      AES-encrypted password storage, and secure authentication using JWT & 2FA.
      Users can generate, store, search, and retrieve passwords safely. Built
      with React.js, Tailwind CSS, Node.js, Express.js, MongoDB, bcrypt,
      crypto-js, express-rate-limit, and helmet, the project focuses on
      encryption, security best practices, and scalability. Deployment will
      utilize Docker, AWS/GCP, and CI/CD with GitHub Actions for seamless
      updates.
    </p>
  </div>
  <div class="fp">
    <h2>Prompt Writer Tool</h2>
    <hr />
    <p>
      A smart AI-powered tool that enhances simple prompts by generating
      detailed, optimized prompts for AI tools like ChatGPT, Midjourney, and
      Bard. The platform supports various categories (writing, coding, image
      generation, research) and leverages React.js, Tailwind CSS, Node.js,
      Express.js, OpenAI API, LangChain, and MongoDB/PostgreSQL. Designed to
      maximize AI potential, it will feature custom prompt templates, user
      suggestions, and intelligent topic expansion for enhanced user experience.
    </p>
  </div>
</div>