<% layout('/layouts/boilerPlate.ejs') -%>
<body>
  <div class="main">
    <div class="top">
      <a class="topA" href="/about">
        <div class="topLeft">
          <div class="image">
            <img
              src="/assets/IMG_20250206_142817_816.webp"
              alt="Profile Image"
            />
          </div>
          <div class="intro">
            <p>A Passionate Web Devloper</p>
            <h1>Jatin</h1>
            <p class="about">
              I am a full stack developer with a keen eye for design and a
              strong communication skills.
            </p>
          </div>
          <i class="ri-arrow-right-circle-line icon-style"></i>
        </div>
      </a>
      <div class="topRight">
        <div class="trHead">
          <p>THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME • THIS IS MY INTERACTIVE RESUME •</p>
        </div>
        <div class="trBottom">
          <a class="topA" href="/assets/Jatin's CV.pdf">
            <div class="trbLeft square">
              <img src="/assets/resume.png" alt="" />
              <div class="trblBottom">
                <h6>MORE ABOUT ME</h6>
                <h4>Resume</h4>
              </div>
              <i class="ri-arrow-right-circle-line icon-style"></i>
            </div>
          </a>
          <a class="topA" href="/projects">
            <div class="trbRight square">
              <img src="/assets/projects.png" alt="" />
              <div class="trbrBottom">
                <h6>SHOWCASE</h6>
                <h4>Projects</h4>
              </div>
              <i class="ri-arrow-right-circle-line icon-style"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="center">
      <a class="centerLR" href="https://www.linkedin.com/in/jatin-devlop">
        <div class="centerLeft">
          <img src="/assets/blog.png" alt="" />
          <div class="clBottom">
            <h6>LINKEDIN</h6>
            <h4>LATEST UPDATES</h4>
            <i class="ri-arrow-right-circle-line icon-style"></i>
          </div>
        </div>
      </a>
      <a class="centerMain" href="/skills">
        <div class="centerMid">
          <img src="/assets/skills.png" alt="" />
          <div class="cmBottom">
            <h6>TECH STACK</h6>
            <h4>Skills</h4>
            <i class="ri-arrow-right-circle-line icon-style"></i>
          </div>
        </div>
      </a>
      <a class="centerLR centerR" href="/socials">
        <div class="centerRight">
          <img src="/assets/social.png" alt="" />
          <div class="crBottom">
            <h6>STAY WIHT ME</h6>
            <h4>Socials</h4>
            <i class="ri-arrow-right-circle-line icon-style"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="bottom">
      <a class="btmA" href="/future-projects">
        <div class="btmLeft">
          <img
            src="/assets/futureprojects.png"
            alt=""
          />
          <div class="blBottom">
            <h6>IDEAS</h6>
            <h4>Future Projects</h4>
            <i class="ri-arrow-right-circle-line icon-style"></i>
          </div>
        </div>
      </a>
      <a class="btmA" href="/contact">
        <div class="btmRight">
          <img src="/assets/letsconnect.png" alt="" />
          <div class="brBottom">
            <h6>CONNECT</h6>
            <h4>Let's Talk</h4>
            <i class="ri-arrow-right-circle-line icon-style"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>
