<% layout('/layouts/boilerPlate.ejs') -%>
<body>
  <div class="projectMain">
    <div class="pmLeft">
        <div class="pmlTop">
            <h1>MY PROJECTS</h1>
        </div>
        <div class="pmlBottom">
            <h2>• Spotify Clone</h2>
            <h2>• Personal Portfolio</h2>
            <h2>• Sneakers WebSite</h2>
            <h2>• Simon Says Game</h2>
        </div>
    </div>
  </div>
</body>
