<% layout('/layouts/boilerPlate.ejs') -%>
<body>
  <div class="skillsMain">
    <div class="smTop">
      <div class="smtLeft">
        <div class="smtlTop">
          <h1>MY SKILLS</h1>
        </div>
        <div class="smtlBottom">
          <div class="smtlbLeft">
            <img src="./assets/js.png" alt="">
          </div>
          <div class="smtlbRight">
            <img src="./assets/css.png" alt="">
          </div>
        </div>
      </div>
      <div class="smtRight">
        <div class="smtrTop">
            <img src="./assets/html.png" alt="">
        </div>
        <div class="smtrBottom">
            <img src="./assets/node.png" alt="">
        </div>
      </div>
    </div>
    <div class="smBottom">
        <div class="smbLeft">
            <img src="./assets/mongo.png" alt="">
        </div>
        <div class="smbRight">
            <img src="./assets/mysql.png" alt="">
        </div>
    </div>
  </div>
</body>
