<% layout('/layouts/boilerPlate.ejs') -%>
<body>
  <div class="socialMain">
    <div class="smLeft">
      <div class="smlTop">
        <h1>SOCIALS</h1>
      </div>
      <div class="smlBottom">
        <h2>
          <i class="ri-linkedin-box-fill"></i>
          <a href="https://www.linkedin.com/in/jatin-devlop"
            >LinkedIn</a
          >
        </h2>
        <h2>
          <i class="ri-github-fill"></i>
          <a href="https://github.com/jatincodes-lab">GitHub</a></h2>
        <h2>
          <i class="ri-mail-fill"></i>
          <a href="mailto:jatin.bly1@gmail.com">Gmail</a></h2>
        <h2>
          <i class="ri-twitter-x-fill"></i>
          <a href="https://x.com/6_jatin3">Twitter</a></h2>
      </div>
    </div>
  </div>
</body>
